# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
lerna-debug.log*

# Runtime data
pids
*.pid
*.seed
*.jmp

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm
.yarn-cache

# Environment variables
.env
.env.local

# Build and coverage files
build/
dist/
coverage/
*.tgz
public/build
public/*.map

# OS and IDE specific files
.DS_Store
.idea/
.vscode/
*.suo
*.user
*.cas
*.sdf

# MongoDB specific files (if applicable locally)
.mongo/
mongodb/

# frontend specific build files (if a separate frontend folder exists)
frontend/build/
frontend/node_modules/

# Documentation
RAZORPAY_SETUP.md
