version: '3.9'

services:
  frontend:
    build:
      context: ./frontend

    container_name: ln-frontend
    ports:
      - "5175:5175"
    networks:
      - fullstack_network
    restart: unless-stopped

    env_file:
      - ./frontend/.env

  backend:
    build: ./backend
    container_name: ln-server
    ports:
      - "5002:5002"
    networks:
      - fullstack_network
    restart: unless-stopped

    env_file:
      - ./backend/.env

    depends_on:
      - frontend

networks:
  fullstack_network:
    driver: bridge
