version: '3.9'

services:
  frontend:
    build:
      context: ./frontend
      args:
        - VITE_API_URL=http://localhost:5000/api
    container_name: ln-frontend
    ports:
      - "5173:5173"
    networks:
      - fullstack_network
    restart: unless-stopped

    env_file:
      - ./frontend/.env

  backend:
    build: ./backend
    container_name: ln-server
    ports:
      - "5000:5000"
    networks:
      - fullstack_network
    restart: unless-stopped

    env_file:
      - ./backend/.env

    depends_on:
      - frontend

networks:
  fullstack_network:
    driver: bridge
